/* .home-page-container {
} */

/* vignete overlay */
.home-page-container::before {
  content: "";
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 0; /* Set a lower z-index to stay beneath the content */
  height: 100%;
}

/* Hero section */
.home-hero {
  background-image: url("../../../../public/images/home/hero-image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensure hero covers the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-logo {
  max-width: 100%; /* Adjust logo size */
  max-height: 10rem; /* Maintain aspect ratio */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-logo {
    max-height: 8rem; /* Adjust logo size for smaller screens */
  }
}

@media (max-width: 576px) {
  .hero-logo {
    max-height: 6rem; /* Further adjust logo size for extra small screens */
  }
}

/* About section */
.about {
  padding: 20px 0; /* Add padding top and bottom */
}


/* Contact section */
#contact {
  background-image: url("../../../../public/images/home/lotus-flower.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensure contact covers the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for better readability */
}

.backdrop-filter {
  background-color: rgba(255, 255, 255, 0.098); /* Adjust opacity as needed */
  backdrop-filter: blur(20px); /* Adjust blur amount as needed */
}
