.containerr {
  /* background-image: url("../../../../public/images/auth/buonavibra-marce-frio.png");
  background-size: cover;
  background-position: center; */
  height: auto;
  width: 100%;
  display: flex; /* For centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;

}

.containerr::before,
.containerr::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 120vh;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0);
}

.cont-course-detail {
  padding-top: calc(10% * 9 / 16); /* Default padding */
}

.container {
  
  position: relative; /* Ensures z-index works correctly */
  z-index: 1; /* Places the content above the blurred background */
  color: black;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    padding: 0 20px; /* Add horizontal padding for better spacing on XL screens */
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1400px; /* Increase max-width for even larger screens */
  }
}

.video-container {
  background-image: url("../../../../public/images/auth/buonavibra-marce-frio.png");
  background-size: cover;
  background-position: center; /* Centers the background image */
  display: flex;
  justify-content: center;

}

.video-container video {
   width: 100%;
  height: auto;
}

.author-info {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.author-info .avatar {
  width: 40px; /* Adjust avatar size as needed */
  height: 40px;
}

.author-info span {
  margin-right: 5px; /* Adjust spacing between elements */
}

@media (max-width: 768px) {
  .author-info {
    flex-direction: column; /* Stack author info vertically on smaller screens */
    align-items: center; /* Center align items on smaller screens */
    margin-bottom: 10px; /* Reduce margin for smaller screens */
  }
}
