.toggleBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001; /* Ensure the button appears above other elements */
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

@media (min-width: 1024px) {
  .hidden {
    display: none !important;
  }
}
